<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DBServerName" value="HTS-WAVEFRONT\SQLEXPRESS" />
    <add key="DBName" value="WaveguideDB" />
    <add key="DBUsername" value="sa" />
    <add key="DBPassword" value="wavefront" />
    <add key="MaxPixelValue" value="65535" />
    <add key="CameraSensorPixelWidth" value="1024" />
    <add key="CameraSensorPixelHeight" value="1024" />
    <add key="CompressionAlgorithm" value="GZIP" />
    <add key="CameraTargetTemperature" value="-70" />
    <add key="InsideTargetTemperature" value="36" />
    <add key="CameraDefaultCycleTime" value="1000" />
    <add key="EventMarkerLatency" value="100" />
    <add key="FilterChangeSpeed" value="6" />
    <add key="ImageFileSaveLocation" value="C:\WaveGuide\WaveGuide_Images" />
    <add key="Color1" value="Yellow" />
    <add key="Color2" value="Blue" />
    <add key="Color3" value="Red" />
    <add key="Color4" value="Green" />
    <add key="Color5" value="Orange" />
    <add key="Color6" value="Purple" />
    <add key="Color7" value="HotPink" />
    <add key="Color8" value="LightBlue" />
    <add key="VWorksUsername" value="administrator" />
    <add key="VWorksPassword" value="administrator" />
    <add key="VWorksProtocolFileDirectory" value="C:\VWorks Workspace\Protocols\PanOptic" />
    <add key="UpSignalOptimizePercentCountThreshold" value="3" />
    <add key="DownSignalOptimizePercentCountThreshold" value="7" />
    <add key="UpDownSignalOptimizePercentCountThreshold" value="10" />
    <add key="MaxCameraTemperatureThresholdDeviation" value="3" />
    <add key="MaxInsideTemperatureThresholdDeviation" value="3" />
    <add key="EnclosureCameraIPAddress" value="10.103.28.36" />
    <add key="DefaultExcelReportFileDirectory" value="C:\WaveGuide\Excel_Report\[PROJECT]" />
    <add key="DefaultWaveGuideReportFileDirectory" value="C:\WaveGuide\WaveGuide_Report\[PROJECT]" />
    <add key="DefaultExcelFileNameFormat" value="[METHOD]_[INDICATOR_NAME]_[DATE]_[TIME].txt" />
    <add key="DefaultWaveGuideFileNameFormat" value="[METHOD]_[DATE]_[TIME].dat" />
    <add key="DefaultPixelMaskThresholdPercent" value="99.5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TemperatureController_IP" value="192.168.0.200" />
    <add key="EthernetIOModule_IP" value="192.168.0.12" />
    <add key="LambdaComPortName" value="COM2" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Arction.Wpf.BindableCharting.LightningChartUltimate" publicKeyToken="6484d7bb14b95dd3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.6.4001" newVersion="7.2.6.4001" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>